.app__page {
    display: flex;
}

@media (max-width: 1000px){
    .app__page{
        width: 125%;
    }
}

@media (max-width: 950px){
    .app__page{
        width: 126%;
    }
}

@media (max-width: 900px){
    .app__page{
        width: 127%;
    }
}

@media (max-width: 860px){
    .app__page{
        width: 129%;
    }
}

@media (max-width: 770px){
    .app__page{
        width: 132%;
    }
}

@media (max-width: 685px){
    .app__page{
        width: 136%;
    }
}
@media (max-width: 650px){
    .app__page{
        width: 138%;
    }
}

@media (max-width: 600px){
    .app__page{
        width: 141%;
    }
}

@media (max-width: 560px){
    .app__page{
        width: 144%;
    }
}

@media (max-width: 530px){
    .app__page{
        width: 147%;
    }
}

@media (max-width: 500px){
    .app__page{
        width: 150%;
    }
}

@media (max-width: 470px){
    .app__page{
        width: 153%;
    }
}


@media (max-width: 450px){
    .app__page{
        width: 155%;
    }
}

@media (max-width: 440px){
    .app__page{
        width: 156%;
    }
}

@media (max-width: 430px){
    .app__page{
        width: 157%;
    }
}

@media (max-width: 420px){
    .app__page{
        width: 158%;
    }
}

@media (max-width: 410px){
    .app__page{
        width: 160%;
    }
}

@media (max-width: 400px){
    .app__page{
        width: 164%;
    }
}

@media (max-width: 385px){
    .app__page{
        width: 165%;
    }
}

@media (max-width: 370px){
    .app__page{
        width: 167%;
    }
}

@media (max-width: 350px){
    .app__page{
        width: 171%;
    }
}
