.SearchVideos {
    flex: .82;
    padding: 20px 20px;
    height: calc(92vh);
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    .SearchVideos {
        transform: translateX(-250px);
        width: 100%;
    }
}

.SearchVideos__filter {
    display: -webkit-inline-flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
    cursor: pointer;
    transition: all .1s linear;
}

.SearchVideos__filter:hover{
    color: #f0f0f0;
}

.SearchVideos__filter > h2 {
    margin-left: 10px;
}

.SearchVideos > hr {
    height: 1px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.192);
    margin-top: 10px;
    margin-bottom: 10px;
}